@import url("./assets/fonts/stylesheet.css");
@import url("./assets/icons/style.css");

/* GLOBALS */
h1 {
  font-size: 32px;
  font-family: "IBM Plex Sans Bold";
  margin-bottom: 30px;
}
h2 {
  font-size: 24px;
  font-family: "IBM Plex Sans Bold";
  margin: 20px 0;
}
h3 {
  font-size: 18px;
  font-family: "IBM Plex Sans";
  font-weight: bold;
}
.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

/* HEADER */
header {
  border-bottom: 1px solid #f3f5f5;
}
header img {
  width: 160px;
}

/* HERO */
.hero {
  margin: 40px 0;
}
.hero img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.hero p {
  font-size: 19px;
  font-family: "IBM Plex Sans";
  color: #868a8a;
  line-height: 30px;
}
.hero .container > div {
  margin-right: 20px;
}

/* MENU */
.menu {
  background-color: #f3f5f5;
}
.category-meals {
  display: flex;

  flex-wrap: wrap;
}
/* MEAL */
.meal {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 15px 20px 0;
  width: calc(50% - 15px);
}
.meal > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}
.meal img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.meal-bottom-line {
  display: flex;
}
.meal-bottom-line span {
  color: darkorange;
}
/* PANIER */
/* PANIER */
.panier {
  background-color: white;
  width: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  height: max-content;
  min-height: 180px;
}

.validation {
  height: 50px;
  width: 330px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  font-size: 16px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;

  font-weight: bold;
}

.color-vide {
  background-color: #bac3c3;
  color: #a0adad;
}

.color-nonvide {
  background-color: #00cdbd;
  color: white;
}

.validation-2 {
  margin: 10px;
}

.panier-vide {
  height: 110px;
  color: #a3a3a3;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-panier {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail-panier > div {
  display: flex;
  align-items: center;
}

.detail-panier > p {
  display: flex;
  align-items: center;
}

.detail-panier button {
  border-radius: 50%;
  border: 0.1px solid #00cdbd;
  background-color: white;
  color: #00cdbd;
}

.detail-panier-title {
  padding-left: 10px;
}

.detail-panier-qte {
  padding-right: 5px;
  padding-left: 5px;
}

.trait {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0.1px solid rgb(229, 225, 225);
}

.totaux {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.final {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82, 77, 77);
}
